.banner-topo {
    position: relative;
    text-align: left;
    color: white;
    height: 400px;
    margin-bottom: 6%;
}

#banner {
    width: 100%;
    height: 120%;
}

h2{
    padding-bottom: 1%;
    text-align: center;
    margin-top: 3%;
    background-color: #181818;
    color: #e07412;
}